#ed-font-awesome-list{
    margin-bottom: 10px 
}
#ed-font-awesome-list ul{
    text-align: center; 
    height: 300px; 
    overflow-y:scroll; 
    position: relative; 
    border:1px solid #EEE; 
    margin: 0
}
.ed-font-icon-selector{ 
    background: #F6F6F6; 
    padding: 10px;
    border:1px solid #EEE; 
    border-top:none;
}
#ed-font-awesome-list li{
    width:60px;
    height: 60px; 
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}
#ed-font-awesome-list li:hover, 
#ed-font-awesome-list li.selected{
    background: #F6F6F6;
}
#ed-font-awesome-list li .fa{
    font-size: 32px;
    line-height: 60px;
    color:#000;
    display: block;
}
.icon-receiver {
    background: none repeat scroll 0 0 #f6f6f6;
    display: block;
    font-size: 32px;
    text-align: center;
}
.icon-receiver .fa{
    margin: 10px;
}
input.small-text[type="number"]{
    width: 110px;
    padding: 3px 5px;
}
.ed-font-icon-selector{
    text-align: center;
}
.ed-font-icon-selector .button{
    width: 80%;
}
.team-thumb{
    width: auto;
    margin-top: 5px;
}
.widget-upload{
    position: relative;
    margin-bottom: 10px;
}
.widget-upload img{
    border:1px solid #CCC;
    padding: 4px;
}

.widget-upload .remove-image {
    background: url("../images/ico-delete.png");
    bottom: 4px;
    display: block;
    float: left;
    height: 16px;
    left: -4px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
    cursor: pointer;
}
.sub-option img{ 
    max-width: 100%;
}
.page-meta-box.form-table td{
    padding: 5px 10px;
}
.hide-radio {
    margin-bottom: 6px;
    position: relative;
    margin-right: 25px;
    display: inline-block;
}
.hide-radio img, .hide-radio label {
    display: block;
}
.hide-radio input[type="radio"] {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
}
.hide-radio input[type="radio"] + label{
    border:2px solid transparent;
}
.hide-radio input[type="radio"]:checked + label{
    border:2px solid #CCC;
}
.page-banner-thumb{
    max-width: 600px;
    margin-top: 5px;
}
#upload-header-image{
    width:460px; 
}
.ui-dialog.panels-admin-dialog.ui-widget .ui-dialog-content > *:last-child{
    margin-bottom: 20px;
}

.custom_label {
    width: 24%;
    font-weight: bold;
    display: inline-block;
}
.custom_logo_span {
    font-weight: bold;
    font-size: 17px;
}
.custom_logo_input {
    width: 30%;
}

#wp_store_display_layout {
    display: none;
}


/*custom admin style css*/
.wp_store_draggable{
    padding:5px 0;  
}
.parallax-customize-control-title{
    border: 1px solid #dfdfdf;
    cursor: move !important;
    font-weight: bold;
    padding: 0 10px !important;
    height: 40px;
    line-height: 40px !important;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
    color: #696969;
}
.parallax-box-content-hidden{
    padding: 5px;
    border: 1px solid #dfdfdf;
    background:#fff;
    display:none;   
}

.customize-control-title{
    color:#696969;  
}
.wp_store_image_control input[type=text]{
    margin-bottom:10px; 
}
.customize-control input[type=text]{
    margin-bottom:15px; 
}
.wp_store_general_control_droppable textarea{
    width:98%;
    margin-bottom:15px; 
}
.add_field wp_store_general_control_new_field{
    background:#C50000;
    color:#fff;
    border:2px solid #C50000;
    box-shadow:none;    
}
.add_field wp_store_general_control_new_field:hover{
    border:2px solid #C50000;
    background:none;
    color:#C50000;
}

.demo-loading{
   background-image: url('../images/demoload.gif');
   width: 64px;
   height: 64px;
   margin-bottom: 8px;
   margin-top: 20px;
}

#demo_import {
   background: #3498DB;
   color: #FFFFFF;
   padding: 5px 10px;
   border-radius: 15px;
   font-weight: bold;
   border: 1px solid #1C72AC;
}

#demo_import:hover {
   color: #EEEEEE;
}

.import-message {
   margin-top: 10px;
   border: 1px solid #BEBEBE;
   padding: 10px;
}

.import-success{
   color: green;
   font-weight: bold;
}
/* Switch CSS */
.switch_options{
    display: block;
}
.switch_options:before,
.switch_options:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_options:after{
	clear:both;
}
.switch_options span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_options span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_options span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_options span:hover{
    background: #fafafa;
}
.switch_options span.selected{
    background: #f6a225; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6a225 0%, #f6a225 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6a225), color-stop(100%,#f6a225)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6a225 0%,#f6a225 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6a225 0%,#f6a225 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6a225 0%,#f6a225 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6a225 0%,#f6a225 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a225', endColorstr='#f6a225',GradientType=0 ); /* IE6-9 */
    border-color: #f6a225;
    color: #fff;
}

label.ui-button.ui-widget {
    display: inline-block;
    border: 2px solid #fff;
    max-width: 46%;
    height: auto;
}

label.ui-button.ui-widget.ui-state-active {
    border: 2px solid #ccc;
}
i.mce-i-icon {
    font: 400 20px/1 dashicons!important;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px;
}

.mce-tooltip-inner{overflow: hidden!important;}
.image-bg-button{text-align: left!important; background-repeat: no-repeat!important;background-size: auto 100%!important; background-position: right!important;}
div[aria-label="Add Shortcodes"]{border:1px solid #627f9a!important;}
div[aria-label="Add Shortcodes"] > button > span{color:#627f9a!important;}


.demo-loading{
   background-image: url('../../images/demoload.gif');
   width: 64px;
   height: 64px;
   margin-bottom: 8px;
   margin-top: 20px;
}

#demo_import {
   background: #0bb1af;
   color: #FFFFFF;
   padding: 5px 10px;
   border-radius: 15px;
   font-weight: bold;
   border: 1px solid #1C72AC;
}

#demo_import:hover {
   color: #EEEEEE;
}

.import-message {
   margin-top: 10px;
   border: 1px solid #BEBEBE;
   padding: 10px;
}

.import-success{
   color: green;
   font-weight: bold;
}


/** New Tab About Us */
.wp-store-wrap *, .wp-store-wrap *:before, .wp-store-wrap *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wp-store-wrap .text-wrap {
    width: 56%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.wp-store-wrap .logo-wrap {
    width: 30%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.wp-store-wrap .logo-wrap img{
    max-width: 100%;
}
.wp-store-wrap .text-wrap .about-description, .wp-store-wrap .text-wrap .about-text {
    margin-top: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
}
.wp-store-wrap .text-wrap h1 {
    margin: .2em 70px 0 0;
    padding: 0;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}
.wp-store-wrap .text-wrap .about-text {
    margin: 1em 70px 1em 0;
    min-height: 60px;
    color: #555d66;
}
ul.wp-store-tab-wrapper {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}
.wp-store-content-wrapper {
    display: inline-block;
    width: 77%;
    vertical-align: top;
    padding-left: 20px;
}
.wp-store-wrap .bottom-block {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 98%;
}
.wp-store-tab-wrapper li a {
    padding: 10px;
    background: #eee;
    font-size: 15px;
    color: #0085ba;
    display: block;
    text-decoration: none;
    outline: none;
}
.wp-store-tab-wrapper li a:focus{
    box-shadow: none;
}
.wp-store-tab-wrapper li a.wp-store-tab.wp-store-tab-active {
    background: #0085ba;
    color: #fff;
}

.wp-store-tab-wrapper li {
    position: relative;
}
.wp-store-tab-wrapper li:before {
    content: "";
    border-top: 19px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.wp-store-tab-wrapper li:after {
    content: "";
    border-bottom: 19px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.wp-store-wrap .col.plugin_box {
    width: 33%;
    display: inline-block;
}
.wp-store-wrap .col.plugin_box img {
    max-width: 50%;
}
.wp-store-content-wrapper .col.plugin_box {
    width: 30.66%;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    background: #eee;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.wp-store-wrap span.author-name {
    position: absolute;
    left: 0;
    top: 20px;
    background: rgba(0, 133, 186, 0.7);
}
.wp-store-wrap .plugin_box > p {
    margin: 0;
    padding: 20px 0;
}
.wp-store-wrap span.author-name a {
    color: #fff;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.wp-store-wrap span.plugin_name {
    font-size: 16px;
    display: block;
    line-height: 22px;
    border-bottom: 1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 20px 10px 20px;
}
.wp-store-wrap span.version {
    float: left;
    margin-top: 5px;
}
.wp-store-wrap span.action_button {
    float: right;
}
.wp-store-wrap .b-wrap {
    background: #fff;
    padding: 10px 20px;
    clear: both;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.wp-store-wrap .featured-section.changelog h4 {
    margin-bottom: 5px;
}
.wp-store-content-wrapper .col {
    width: 32.66%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.wp-store-content-wrapper .col i.dashicons {
    font-size: 3em;
    width: auto;
    height: auto;
}
.wp-store-tab-wrapper li a.wp-store-tab.more-wp {
    color: #cc444d;
}
.wp-store-content-wrapper .cols > span {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    color: #0085ba;
    margin-top: 20px;
    display: block;
}
.wp-store-wrap span.recommended {
    position: absolute;
    right: -34px;
    top: 15px;
    transform: rotate(45deg);
    background: #cc444d;
    color: #fff;
    padding: 5px 35px;
}
@media screen and (max-width:1083px) {
    .wp-store-content-wrapper {
        width: 69%;
    }
    ul.wp-store-tab-wrapper {
        width: 30%;
    }
    .wp-store-content-wrapper .col {
        width: 100%;
        text-align: left;
    }
    .wp-store-wrap .text-wrap h1 {
        font-size: 25px;
    }
    .text-wrap .about-description, .text-wrap .about-text {
        font-size: 16px;
    }
    .logo-wrap {
        width: 39%;
    }
    .bottom-block {
        width: 98%;
        margin: 0 auto;
    }
    .wp-store-content-wrapper .col.plugin_box {
        width: 47%;
    }
}
@media screen and (max-width:800px) {
    ul.wp-store-tab-wrapper {
        width: 100%;
    }
    .wp-store-tab-wrapper li {
        display: inline-block;
    }
    .wp-store-tab-wrapper li:before, .wp-store-tab-wrapper li:after {
        display: none;
    }
    .wp-store-content-wrapper {
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
    .bottom-block, .text-wrap, .logo-wrap {
        width: 98%;
        margin: 0 auto;
    }
    .wp-store-wrap .text-wrap h1 {
        font-size: 20px;
    }
    .text-wrap .about-description, .text-wrap .about-text {
        font-size: 14px;
    }
}
@media screen and (max-width:480px) {
    .wp-store-content-wrapper .col.plugin_box {
        width: 98%;
    }
}